:root {
    --primaire: #F8F3E9;
    --card: #FFFCF7;
    --bordure: #EAE3D2;
    --bouton: #6B2A35;
    --secondaire-bouton: #45161E;
    --text: #2D2B2A;
    --secondaire-text: #575350;
}

h1 {
    font-size: clamp(28px, 5vw, 47px);
}

h2 {
    font-size: clamp(20px, 5vw, 39px);
}

h3 {
    font-size: clamp(17px, 5vw, 33px);
}

h4 {
    font-size: clamp(13px, 5vw, 27px);
}

h5 {
    font-size: clamp(11px, 5vw, 23px);
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: auto;
    padding: 0 16px;
}

.card {
    width: 300px;
    padding: 20px;
    background: var(--card);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}