:root {
    --main-color: #fcf8f1;
    --secondary-color: #71232f;
}

nav {
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}